<ng-container *ngIf="destinations$ | async as destinations; else loadingTemplate">
  <div class="element-left">
    <hww-hero-image [current]="destination"></hww-hero-image>
    <hww-menu [all]="destinations" [(current)]="destination"></hww-menu>
    <hww-details [dest]="destination" [(current)]="activity"></hww-details>
  </div>
  <div class="element-right">
    <hww-wishlist></hww-wishlist>
    <hww-weather [activity]="activity"></hww-weather>
    <hww-social [activity]="activity"></hww-social>
  </div>
</ng-container>
<ng-template #loadingTemplate>
  <div style="background: white; color: black">Loading</div>
</ng-template>
