<ng-container *ngIf="destinations$ | async as destinations; else loadingTemplate">
  <div class="element-left">
    <hww-hero-image [current]="selectedItem"></hww-hero-image>
    <hww-menu [all]="destinations" [(current)]="selectedItem"></hww-menu>
    <hww-details [dest]="selectedItem"></hww-details>
  </div>
  <div class="element-right">
    <hww-weather></hww-weather>
    <hww-social></hww-social>
  </div>
</ng-container>
<ng-template #loadingTemplate>
  <div style="background: white; color: black">Loading</div>
</ng-template>
