<div class="teddy-bear">
  <div class="teddy-text">
    <h4>{{a.title}}</h4>
    <span class="w-line"> </span>
    <img [src]="'assets/images/' + img" alt="" class="img-responsive">
  </div>
  <div class="teddy-follow">
    <ul>
      <li class="folw-h">
        <h3>{{getInfo().followers}}</h3>
        <p>Followers</p>
      </li>
      <li>
        <h3>{{getInfo().following}}</h3>
        <p>Following</p>
      </li>
    </ul>
  </div>
  <div class="teddy-bear teddy-text">
    <button type="button" style="font-size: x-large" (click)="signUp(a)">Sign Up</button>
  </div>
</div>
